@import "../../global.scss";

.article-card {
  display: grid;

  overflow: hidden;
  background-color: $color-white;
  border-radius: 8px;

  &__image {
    width: 100%;
    height: 288px;
    object-fit: none;
  }

  &__caption {
    padding: 24px;

    @media #{$screen-large} {
      padding: 8px;
    }
  }

  &__title {
    text-decoration: none;

    &:hover {
      color: $color-bright-cyan;
    }
  }
}
