@import "../../global.scss";

.hero {
  height: 100vh;
  min-height: 800px;
  margin-bottom: 64px;
  background-color: $color-lighter-grayish-blue;
  background-image: url("../../img/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;

  @media #{$screen-small} {
    background-size: 100% 648px;
  }

  @media #{$screen-medium} {
    min-height: 600px;
    max-height: 800px;
    margin-bottom: 0px;
    overflow: visible;
    background-image: url("../../img/bg-intro-desktop.svg");
    background-size: auto;
    background-position: top -200px left 45vw;
  }

  &__container {
    display: grid;
    grid-template-rows: auto 1fr;
    max-width: 400px;
    height: 100%;

    @media #{$screen-medium} {
      grid-template-rows: 1fr;
      grid-template-columns: 50% 50%;
      gap: 32px;
      align-items: center;
      max-width: none;
    }
  }

  &__image {
    grid-row: 1 / 2;
    position: relative;
    width: 100%;
    margin: 0px auto;

    @media #{$screen-medium} {
      grid-column: 2 / 3;
      top: -48px;
      right: 0px;
      width: 135%;
      max-width: 900px;
    }
  }

  &__caption {
    grid-row: 2 / 3;

    @media #{$screen-medium} {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    @media #{$screen-extra-large} {
      align-self: center;
      margin-top: -224px;
    }
  }

  &__request-invite {
    display: block;
    margin: 0px auto 32px;
    padding: 12px 24px !important;

    @media #{$screen-medium} {
      margin: 0px;
    }
  }
}
