@import "./global.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

// Main Body
.main {
  font-family: $font-family-normal;
  font-size: $font-size-normal;
  font-weight: $font-weight-normal;
  box-sizing: border-box;
  overflow-x: hidden;
}

// Sections
.section {
  width: 100%;
}

// Containers
.container {
  width: 90%;
  margin: 0px auto;

  @media #{$screen-medium} {
    width: 85%;
  }

  @media #{$screen-large} {
    width: 80%;
  }
}

// Headings
.heading {
  font-weight: $font-weight-normal;
  color: $color-dark-blue;
  line-height: 1.2em;
  text-align: center;

  @media #{$screen-medium} {
    text-align: left;

    &--align-center {
      text-align: center;
    }

    &--align-right {
      text-align: right;
    }
  }

  &--bold {
    font-weight: $font-weight-bold;
  }

  &--large {
    font-size: 2.25em;
  }

  &--medium {
    font-size: 1.75em;
  }

  &--small {
    font-size: 1.25em;
  }

  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }
}

// Text
.text {
  font-weight: $font-weight-light;
  color: $color-grayish-blue;
  line-height: 1.5em;
  text-align: center;

  @media #{$screen-medium} {
    text-align: left;

    &--align-center {
      text-align: center;
    }

    &--align-right {
      text-align: right;
    }
  }

  &--small {
    font-size: 0.9em;
  }

  &--smaller {
    font-size: 0.8em;
  }

  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }
}

// Links
.link {
  font-size: 0.9em;
  text-decoration: none;

  &--footer {
    color: $color-lighter-grayish-blue;
  }
}

// Buttons
.button {
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &--request-invite {
    padding: 8px 16px;
    background-image: linear-gradient(
      to right,
      $color-lime-green,
      $color-bright-cyan
    );
    color: $color-white;
    font-size: 0.8em;
    font-weight: $font-weight-bold;
    border: none;
    border-radius: 32px;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

// Logo SVG
.logo-svg {
  &--footer .logo-svg__text {
    fill: $color-lighter-grayish-blue;
  }
}
